@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: 0;
}

body {
	font-size: #1c1d1d;
	font-family: 'Helvetica', 'Arial', sans-serif;
	letter-spacing: 0.02rem;
}
